@import"colors";
$nav-color: $md-light-blue-500;
body > section#content > section {
    top: 30px;
    position: relative;
}
body > section > header >nav {
    background-color: $nav-color;
    height: 30px;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
    opacity: 0.99;
    a {
        color: $md-grey-800;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease-out;
    }
    a:hover {
        color: $md-grey-900;
    }
    a.logo {
        margin: 4px;
        display: inline-block;
        vertical-align: sub;
        float: left;
    }
    ul#navigation-tools {
        float: right;
        li {
            min-width: 160px;
            text-align: right;
        }
    }
    input[type="search"], button[type="button"] {
        display: inline-block;
        height: 24px;
        padding: 2px;
        margin: 2px 0 2px 0;
    }
    input[type="search"]:focus {
        width: 200px;
    }
    input[type="search"] {
        width: 80px;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: width 0.4s ease-out;
    }
    button[type="button"] {
        width: 60px;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        top: -1px;
    }
    & > ul {
        display: inline-block;
        margin: 0 1em;
        & > li {
            display: inline-block;
            margin: 0 1em;
            float: left;
            & > ul {
                border: 1px solid $md-grey-300;
                position: relative;
                top: 5px;
                opacity: 0;
                transition: opacity 0.5s ease-out;
                background: $md-grey-100;
                border-radius: 3px;
                box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
                > li {
                    display: none;
                    padding: 3px 20px;
                    border-bottom: 1px solid $md-grey-200;
                    transition: background 0.5s ease-out;
                }
                > li:hover {
                    background: $md-grey-200;
                }
            }
        }
        & > li:hover {
            & > ul {
                opacity: 1;
                & > li {
                    display: block;
                }
            }
        }
    }
}
