
@import "font-awesome";
@import "colors";
@import "bourbon"; // or "bourbon" when in Rails
@import "_base";
//@import "_buttons";
@import "grid-settings";
@import "neat";
@import "_tables";

@import "admins";
@import "header";



a {
	cursor:pointer !important;
}

body {
  margin: 0;
  padding: 0;
}

section#content  {

  @include outer-container;
}